name: Deploy static site to GitHub Pages

# Trigger on push to main branch or manually
on:
  push:
    branches: ['main']
  workflow_dispatch:

# Permissions required for Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one deployment at a time
concurrency:
  group: '
